<!DOCTYPE html>
<html>
  <head>
    <title>prfctpx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'; %>

    <%-# prfctpx logo link -%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Comfortaa' %>
    
    <%-# center links -%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Raleway&display=swap' %>
    
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.splashImage = '<%= image_url('splashbackground.jpg') %>';
      window.userIcon = '<%= image_url('userpic.png') %>';
      window.growIcon = '<%= image_url('grow.png') %>';
      window.buildIcon = '<%= image_url('build.png') %>';
      window.performIcon = '<%= image_url('perform.png') %>';
      window.bottomCover = '<%= image_url('/Users/spaceone/a:A/prfctpx/app/assets/images/bottom-cover.png') %>';
      window.uploadIcon = '<%= image_url('up-icon.png') %>'
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>