<!DOCTYPE html>
<html>
  <head>
    <title>prfctPX</title>
    <meta name='description' content='prfctPX, a 500px clone, is an app for inspiration and creative discovery, where photographers share their own work and explore others.' />
    <meta name='keywords' content='glhkang, gloria kang, gloria kang nyc, app academy gloria kang, 500px.com, photography, software engineer, software developer, react project, fullstack' />
    <meta name='author' content='Gloria Kang' />

    <meta property="og:type" content="website" />
    <meta property='og:title' content='prfctPX'/>
    <meta property='og:image' content='#' />
    <meta property='og:description' content='prfctPX, a 500px clone, is an app for inspiration and creative discovery, where photographers share their own work and explore others.'/>
    <meta property='og:url' content='https://prfctpx.herokuapp.com/'/>
    <meta property="og:site_name" content="Gloria Kang"/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'; %>

    <%-# prfctpx logo link -%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Comfortaa' %>
    
    <%-# center links -%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Raleway&display=swap' %>
    
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.splashImage = '<%= image_url('splashbackground.jpg') %>';
      window.userIcon = '<%= image_url('userpic.png') %>';
      window.growIcon = '<%= image_url('grow.png') %>';
      window.buildIcon = '<%= image_url('build.png') %>';
      window.performIcon = '<%= image_url('perform.png') %>';
      window.bottomCover = '<%= image_url('/Users/spaceone/a:A/prfctpx/app/assets/images/bottom-cover.png') %>';
      window.uploadIcon = '<%= image_url('up-icon.png') %>'
      window.moreIcon = '<%= image_url('more-icon.svg') %>'
      window.uploadBarIcon = '<%= image_url('upload.png') %>'
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <%= favicon_link_tag asset_path('prfctpx-favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>