<!DOCTYPE html>
<html>
  <head>
    <title>prfctpx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'; %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Comfortaa' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.splashImage = '<%= image_url('splash.jpeg') %>';
      window.userIcon = '<%= image_url('userpic.png') %>'; 
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>